@media screen and (max-width: 768px) {
  header {
    flex-direction: column;

  }

  main {
    max-width: 1200px;
  }
}
:root {
  --dark: #13293d;
  --light: #fff;
  --navlink-color: #b9c6ae;
}

*{
    margin: 0;
    padding: 0;
} 


body {
  display: flex;
  flex-direction: column;
  line-height: 0.3;
  background: #f8e8e8;
  
}

header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 30px 80px;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #cc4545;
  color: #fff;
 
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
h1 { 
  font-size: 150% ;
  font-style: normal;
}

.nav {
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0;
  font-display: white;
}

.nav li {
  display: inline-block;
  font-family: "Lucida Console", "Courier New", monospace;
  font: bold;
  font-size: 20px;
  font-display: white;
  font-color:var(--light)
  padding: 20px;
}

nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: rgb(120, 21, 4);
}

.container{
  width: 100%;
  height: 10vh;
}

.banner{
  width: 100%;
  height: 80vh;
  background-size: cover;
  
}

h2 {
  font-size: 1.5rem;
  font-family: "Lucida Console", "Courier New", monospace;
  font-style: normal;
  color: #cc4545;
  margin-left: 1135px;
  margin-top: 32px;

}

.leftside {
  height: 100vh;
  width: 20%;
  float: left;
  color: #13293d;
  background-color: #fdb0b0;
  font: 1.5rem;
  font-family: "Lucida Console", "Courier New", monospace;
  font-style: normal;


}

.rightside {
  height: 100vh;
  width: 80%;
  float: right;
  color: #13293d;
  background-color: #fbd7d7;
}

h3 {
  font-size: medium;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: -3%;
  padding: 15px 0;
  align-items: left;
}

h4 {
  font-size: medium;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: -3%;
  padding: 15px 0;
  align-items: left;
}

h5 {
  font-size: small;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: ;
  padding: 15px 0 15px 0;
  align-items: auto;
  color: #cc4545;
  margin-left: 20px;
}
h6 {
  font-size: 1.5rem;
  font-family: "Lucida Console", "Courier New", monospace;
  font-style: normal;
  color: #cc4545;
  margin-left: 1135px;
  margin-top: 55px;
}

.fakeimg {
  background-color: #f29898;
  color: white;
  width: 50%;
  padding: 20px;
  margin: 15;
  font-family: "Lucida Console", "Courier New", monospace;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}





.footer {
  background-color: #cc4545;
  display: flex;
  color:white;
  text-align: center;
  align-items: space-between;
  padding: 30px 80px;
  font-family: "Lucida Console", "Courier New", monospace;
  height: 2vh;
  display: inline-block;
  margin: 20px;
}

.footer-links{
  font-family: "Lucida Console", "Courier New", monospace;
  font:white;
  font-size: large;
}

.footer-links a:hover {
  color: rgb(120, 21, 4);
}

article {
  float: right;
  width: 75%;
  background-color: #f1f1f1;
  height: 100%; /* only for demonstration, should be removed */
}
