@media screen and (max-width: 768px) {
  header {
    flex-direction: column;

  }

  main {
    max-width: 1200px;
  }
}

:root {
  --dark: #13293d;
  --light: #fff;
  --navlink-color: #b9c6ae;
}

*{
    margin: 0;
    padding: 0;
} 


body {
  display: flex;
  flex-direction: column;
  line-height: 0.3;
}

header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 30px 80px;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #cc4545;
  color: #fff;
 
}

h1 { 
  font-size: 150% ;
  font-style: normal;
}

.nav {
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0;
  font-display: white;
}

.nav li {
  display: inline-block;
  font-family: "Lucida Console", "Courier New", monospace;
  font: bold;
  font-size: 20px;
  font-display: white;
  font-color:var(--light)
  padding: 20px;
}

nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: rgb(120, 21, 4);
}


.main {
  width: 25%;
  float: left;
  padding: 15px;
}

.menu {
  width: 25%;
  float: left;
  padding: 15px;
  margin-bottom: 4%;
  word-spacing: normal;
}

.container{
  width: 100%;
  height: 10vh;
}

.banner{
  width: 100%;
  height: 80vh;
  background-image:;
  background-size: cover;
  
}
h3 {
  font-size: medium;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: -3%;
  padding: 15px 0;
  align-items: left;
}

h2 {
  font-size: 1.5rem;
  font-family: "Lucida Console", "Courier New", monospace;
  font-style: normal;
  color: #cc4545;
  margin-left: 1135px;
  margin-top: 32px;
 
}


